.cart-container {
    /* visibility: hidden; */
    font-family: 'Acme', sans-serif;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    max-width: 550px;
    width: 100%;
    height: 100%;
    background: #e7e2e2;
    overflow: auto;
    transform: translateX(-150%);
    animation: ani 1s forwards;
}

.cart-count-in-cart {
    font-family: 'Acme', sans-serif;
    top: 21px;
    right: 474px;
    position: absolute;
    text-align: center;
    line-height: 22px;
    background-color: #ffc33e;
    color: black;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    font-size: 14px;
}

.header-cart {
    display: flex;
    align-items: center;
    background-image: url("../images//background/back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
    min-height: 100px;
}

.header-cart-justify {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 30px;
    justify-content: space-between;
}

.my-cart {
    display: flex;
    align-items: center;
}

.my-cart-text {
    font-size: 30px;
    color: #fff;
}

.close-cart-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 35px;
    outline: none;
    border: none;
    background: transparent;
}

.close-cart-btn:hover {
    color: #ffc33e;
    opacity: 0.9;
}

.menu-cart {
    flex: 1 1 auto;
    overflow-y: auto;
    background-image: url("../images//background/back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.95;
}

.pizza-in-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-height: 170px;
}

.chosen-pizza {
    display: flex;
    align-items: center;
}


.pizza-amount {
    display: flex;
    align-items: center;
}

.pizza-amount-container {
    height: 50px;
    display: flex;
    padding-right: 16px;
}

.xmark-container {
    color: #d59814;
}

.xmark-container:hover {
    cursor: pointer;
    background: rgb(139, 134, 134);
    color: #ffc33e;
}

.order-price-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(51, 48, 42);
    padding: 16px;
    background: #835c07;
}

.need-to-pay {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: white;
}

.order-apply {
    padding-right: 15px;
    cursor: pointer;
    text-align: right;
    font-family: 'Acme', sans-serif;
    background-image: url("../images//background/back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
    font-size: 24px;
    border: none;
    outline: none;
    height: 60px;
    width: 100%;
    color: #fff;
}

.order-apply:hover {
    color: #ffc33e;
    opacity: 0.85;

    .fa-sack-dollar {
        color: #ffc33e;
    }
}

.fa-sack-dollar {
    margin-left: 30px;
}

.display-none {
    visibility: hidden;
    animation: none;
}

.display-block {
    visibility: visible;
    animation: ani 1.2s forwards;
}

@keyframes ani {
    0% {
        transform: translateX(+50%);
    }

    100% {
        transform: translateX(0);
    }
}

.price-in-cart {
    color: white;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 16px;
}

.size-in-cart {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    margin-bottom: 16px;
}

.total-price {
    color: white;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 16px;
}