.pizza-card {
    font-family: 'Acme', sans-serif;
    max-width: 782px;
    width: 100%;
    border-radius: 10px;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
}

.pizza-card:hover .pizza-img {
    transform: scale(1.05);
    transition: transform 0.4s;
}

.pizza-card:hover {
    border: 1px solid #ffc33e;
    ;
}

.pizza-img-bar {
    display: flex;
    padding: 24px;
    align-items: flex-start;
    justify-content: center;
}

.pizza-img {
    cursor: pointer;
    max-width: 300px;
    min-height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;

}

.pizza-right-side {
    min-width: 420px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    color: #c9921b;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    margin-bottom: 16px;
}

.pizza-bars {
    justify-content: center;
    align-items: center;
}

.choose-size {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.8px;
    color: #fff;
    padding-bottom: 8px;
    padding-top: 8px;

}

.choose-size-bar {
    align-items: center;
}

.bar {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 48px;
    border: 1px solid #d3dde4;
    padding: 4px 0px 4px 10px;
    line-height: 21px;
    letter-spacing: 0.5px;
    color: #fff;
    font-size: 18px;
}

.vs-selected-optons {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0 2px;
    position: relative;
    color: #ffc33e;
}

.vs-actions {
    width: 52px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% + 8px);
    border-left: 1px solid rgb(211, 221, 228);
}

.vs-action-btn {
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
}

.vs-actions:hover {
    background: rgba(57, 55, 55, 0.443);
}

.vs-actions:active {
    background: #65666471;
}

.pizza-menu {
    max-width: 420px;
}

.pizza-price {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.price {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 16px;
}

.cart-btn {
    display: flex;
    height: 60px;
}

.addtocartbtn {
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    outline: none;
    color: #fff;
    border: 1px solid #383d43;
    border-right: none;
    background: #835c07;
}

.pizza-count {
    display: flex;
    border-left: 1px solid #383d43;
    border-right: 1px solid #383d43;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 56px;
    background: #835c07;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    border-top: 1px solid #383d43;
    border-bottom: 1px solid #383d43;

}

.pizza-count-btns {
    /* background: #c9921b; */
    width: 56px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    border-radius: 5px;
    justify-content: center;
}

.pizzabtnup {
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: none;
    flex: 1 1 auto;
    background: #835c07;
    color: #fff;
    border-top: 1px solid #383d43;
    border-right: 1px solid #383d43;
}

.pizzabtndown {
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: none;
    flex: 1 1 auto;
    background: #835c07;
    color: #fff;
    border-top: 1px solid #383d43;
    border-bottom: 1px solid #383d43;
    border-right: 1px solid #383d43;

}

.pizzabtnup:hover,
.pizzabtndown:hover,
.addtocartbtn:hover {
    background: #c9921b;
}

.ul-chose {
    position: absolute;
    width: 274px;
    border: 1px solid #d3dde4;
    margin-bottom: 16px;
    background: #242323;
    color: #835c07;
    z-index: 1;
}

.pizza-size30cm,
.pizza-size40cm,
.pizza-size50cm {
    /* margin-left: 45px; */
    padding-left: 25px;
    display: flex;
    align-items: center;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
    list-style: none;


}

.pizza-size30cm,
.pizza-size40cm {
    border-bottom: 1px solid #d3dde4;
}

.pizza-size30cm:hover,
.pizza-size40cm:hover,
.pizza-size50cm:hover {
    cursor: pointer;
    background: #57555571;
    color: #d1d810;
}

.pizza-size30cm:active,
.pizza-size40cm:active,
.pizza-size50cm:active {
    background: #a4a0a071;
}

.main-pizza-img {
    width: 300px;
    height: 300px;
}

/* НАСТРОЕМ ИЗМЕНЕНИЕ РАЗМЕРА ПРИ @media */

@media (max-width: 1550px) {
    .main-pizza-img {
        width: 200px;
        height: 200px;
    }

    .pizza-img-bar {
        padding: 5px;
    }

    .pizza-right-side {
        max-width: 250px;
    }

}

@media (max-width: 1920px) {
    .main-pizza-img {
        width: 275px;
        height: 275px;
    }
}

@media (max-width: 1665px) {
    .main-pizza-img {
        width: 250px;
        height: 250px;
    }

    .pizza-img-bar {
        padding: 15px;
    }

    .pizza-card {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .pizza-right-side {
        min-width: 300px;
    }

}

.display-none-size {
    visibility: hidden;
    animation: none;
}

.display-block-size {
    visibility: visible;
    animation: ani-size 1.5s forwards;
}


@keyframes ani-size {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}