@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


.navbar2 {
    font-family: 'Acme', sans-serif;
    width: 100%;
}

.nav-top {
    position: relative;
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}

.nav-top-content {
    margin: auto;
    display: flex;
    max-width: 1500px;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.nav-items-menu {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.food-icon {
    padding: 5px 20px;
    margin-left: 85px;
    margin-right: 85px;
}

.food-img {
    width: 55px;
    height: 60px;
}

.food-img:hover {
    transform: scale(1.1);
}

.food-img:active {
    transform: scale(1.3);
}

a {
    line-height: 20px;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
}

a:hover,
active {
    color: #ffc33e;
}

